src/META-INF/wsdl/localhost_8080/Servicio_MA/Servicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="ListaActivosFuncionario" type="tns:ListaActivosFuncionario"/>

<xs:element name="ListaActivosFuncionarioResponse" type="tns:ListaActivosFuncionarioResponse"/>

<xs:element name="guardarValidacion" type="tns:guardarValidacion"/>

<xs:element name="guardarValidacionResponse" type="tns:guardarValidacionResponse"/>

<xs:element name="listaFuncionarios" type="tns:listaFuncionarios"/>

<xs:element name="listaFuncionariosResponse" type="tns:listaFuncionariosResponse"/>

<xs:complexType name="listaFuncionarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listaFuncionariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:funcionario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="funcionario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="ci" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="numActivos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListaActivosFuncionario">
<xs:sequence>
<xs:element name="ci" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListaActivosFuncionarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:activos" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activos">
<xs:sequence>
<xs:element name="idActivo" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarValidacion">
<xs:sequence>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarValidacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>